.context-menu {
    -fx-background-color: #f0f0f0;         /* רקע אפור בהיר */
    -fx-text-fill: black;                  /* צבע טקסט שחור */
    -fx-font-size: 12px;                   /* גודל גופן */
    -fx-border-color: #666666;             /* צבע גבול אפור כהה */
    -fx-effect: dropshadow(gaussian, rgb(150, 150, 150), 20, 0.2, 2, 2); /* צל בגווני אפור */
    -fx-border-width: 2px;                 /* עובי גבול */
    -fx-padding: 10px;                     /* ריווח פנימי */
    -fx-background-radius: 5px;            /* פינות מעוגלות */
    -fx-border-radius: 5px;                /* פינות מעוגלות לגבול */
}

.context-menu .menu-item {
    -fx-text-fill: black;                  /* צבע טקסט שחור */
    -fx-font-size: 12px;                   /* גודל גופן */
}

.context-menu .menu-item:hover {
    -fx-background-color: #999999;         /* צבע רקע אפור כהה בזמן ריחוף */
}
